# Packer
# Cache objects
packer_cache/
# For built boxes
builds/
*.box
packerbuild-*.json
buster-*/

# Vagrant
.vagrant/
# Createt via template
Vagrantfile
# Log files (if you are creating logs in debug mode, uncomment this)
# *.log
